.contact{
   min-height: auto;
   padding-bottom: 5rem;
   display: flex;
   flex-direction: column;
   /* background: var(--secondary-bg-color); */
}
.contact>form{
    max-width: 70rem;
    margin: 0 ;
    text-align: center;
    margin: auto;
}
.contact>form>.input-box
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact>form>.input-box>.input-field
{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}
.contact>form>.input-box>.input-field>input,
.contact>form>.textarea-field>textarea
{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}
.contact>form>.input-box>.input-field>input::placeholder,
.contact>form>.textarea-field>textarea::placeholder
{
    color: var(--text-color);
}
.contact>form>.textarea-field
{
    position: relative;
    display: flex;
    margin: .8rem 0 2.7rem;
}
.contact>form>.btn-box>.btn
{
    cursor: pointer;
}
.contact>form .focus
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: var(--secondary-bg-color);
    z-index: -1;
    transition: .8s;
}
.contact>form>.input-box>.input-field input:hover~.focus,
.contact>form>.input-box>.input-field input:valid~.focus,
.contact>form>.textarea-field textarea:hover~.focus,
.contact>form>.textarea-field textarea:hover~.focus{
    width: 100%;
}
.btn-box 
{
    margin: 0px auto;
}