@media (min-width: 1000px) and (max-width:1545px){
  
  .icons{
    position: absolute;
    display: flex;
    column-gap: 6px;
    justify-content: left;
}
.icons .likedin-img{
    width: 8%;
}
.icons .git-img{
width: 8%;
cursor: pointer;
}
.icons .insta-img{
    width: 8%;
    }
.icons .git-img:hover{
background-color: white;
cursor: pointer;
}
.icons .insta-img:hover{
background-color: white;
cursor: pointer;
}
.icons .likedin-img:hover{
background-color: white;
cursor: pointer;
}
.connect-me{
    margin-top: 25px;
    font-size: 2rem;
}
  .whitebox{
    display: flex;
    background-color: #df83f836;
    padding: 0px;
    border-radius: 10px;
}
  .btn-box{
    margin: 0;
  }
  .navbar{
    background-color: #df71fd26;
    padding: 10px 20px;
    border-radius: 10px;
  }
  .navbar>.active{
    margin-left: 0;
  }
  .navbar>a:hover{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.626);
    padding: 5px;
  }
  /* .skills-box{
    margin-left: -60px;
  } */
  .mobilemode{
    display: flex;
    background-color: #df71fd26;
    padding: 10px;
    border-radius: 10px;
    column-gap: 12px;
    align-items: center;
    font-size: 13px;
}
.skills-box>.front-end{
  display: grid;
  grid-template-columns: repeat(auto-fill,150px);
  column-gap: 20px;
  row-gap: 40px;
  align-items: center;
  justify-content: center;
}
.skills-box>.front-end>.mobile-size{
width: 70%;
}
.skills-box>.front-end>.tailwind-size{
  width: 70%;
}
.html-logo{
  transition:0.5s  ease;
}
.html-logo:hover{
  transform: perspective(400px) translateZ(100px);
  filter: drop-shadow(0 0 14px #ff9100);
}
.html-logo.whitebox:hover{
 background: none;
}
.css-logo{
  transition:0.5s  ease ;
}
.css-logo:hover{
  transform: perspective(400px) translateZ(100px);
  filter: drop-shadow(0 0 14px #0095ff);
}
.css-logo.whitebox:hover{
 background: none;
}
.tail-logo{
  transition:0.5s  ease ;
}
.tail-logo:hover{
  transform: perspective(400px) translateZ(100px);
  filter: drop-shadow(0 0 14px #0095ff);
}
.tail-logo.whitebox:hover{
background: none;
}
.jslogo{
  transition: 0.5s ease;
}
.jslogo:hover{
  transform: perspective(400px) translateZ(100px);
  filter: drop-shadow(0 0 24px #edfd71);
}
.jslogo.whitebox:hover{
background: none;
}

.logo1 {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
  animation: logo-spin infinite 20s linear;
}

.logo1:hover {
  filter: drop-shadow(0 0 24px #df71fd);
}

.logo1.react:hover {
  filter: drop-shadow(0 0 24px #61dafbaa);
}
/* created an react animation */
@keyframes logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
}