@media (min-width: 769px) and (max-width:1024px){
    .btn-box{
        margin: 0;
      }
      nav
      {
          /* visibility: hidden; */
          display: none;
      }
      .header>.logo
      {
          width: 100%;
          text-align: left;
          font-size: 4rem;
      }
   .line-spacing{
    line-height: 20px;
   }
}