@media (min-width: 769px) and (max-width:1024px){
    .contact>form{
        display: grid;
    gap: 1.5rem;
    }
    .input-box label{
        position: absolute;
        top: 50%;
        left: 3%;
        transform: translateY(-50%);
        font-size: 1.4rem;
        color:#98a3b9 ;
        pointer-events: none;
        transition: all .3s ease-in-out;
    }
    .input-box input:focus~label,
.input-box input:valid~label{
    top: -10px;
    color: white;
}
    #themes{
        color: black;
    }
    .right-box-1 .boi{
        z-index: -1;
    }
    #themeSwitcher{
       visibility: hidden;
    }
.skills-column .title {
    font-size: 2.05rem;
    margin-block: 30px;
}
    .btn-box{
        margin: 0;
      }
      .header>.logo
      {
          /* width: 100%; */
          text-align: left;
          font-size: 2.5rem;
      }
   .line-spacing{
    line-height: 20px;
   }
   .icons{
    position: absolute;
    display: flex;
    column-gap: 6px;
    justify-content: left;
}
.icons .likedin-img{
    width: 13%;
}
.icons .git-img{
width: 13%;
cursor: pointer;
}
.icons .insta-img{
    width: 13%;
    }
.icons .git-img:hover{
background-color: white;
}
.connect-me{
    margin-top: 25px;
    font-size: 2rem;
}
   body {
    margin: 0;
    padding: 0;
    position: relative;
}
.whitebox{
    display: flex;
    background-color: #df71fd26;
    padding: 10px;
    border-radius: 10px;
}
.mobilemode{
    display: flex;
    background-color: #df71fd26;
    padding: 10px;
    border-radius: 10px;
}
.sidebar {
    display: none; /* Hide the sidebar by default */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar a {
    text-decoration: none;
    color: white;
}

.content {
    transition: margin-left 0.5s;
    margin-left: 0;
    padding: 20px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
    padding: 0 20px;
}
nav ul {
    flex-wrap: wrap;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background: #fff;
    margin: 3px 0;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.skills-box>.front-end{
    display: grid;
    grid-template-columns: repeat(auto-fill,90px);
    column-gap: 70px;
    row-gap: 40px;
    align-items: center;
    justify-content: center;
}
.skills-box>.front-end>.mobile-size{
  width: 150%;
}
.skills-box>.front-end>.tailwind-size{
    width: 100%;
}
.html-logo{
    transition:0.5s  ease;
}
.html-logo:hover{
    transform: perspective(400px) translateZ(100px);
    filter: drop-shadow(0 0 14px #ff9100);
}
.css-logo{
    transition:0.5s  ease ;
}
.css-logo:hover{
    transform: perspective(400px) translateZ(100px);
    filter: drop-shadow(0 0 14px #0095ff);
}
.tail-logo{
    transition:0.5s  ease ;
}
.tail-logo:hover{
    transform: perspective(400px) translateZ(100px);
    filter: drop-shadow(0 0 14px #0095ff);
}
.jslogo{
    transition: 0.5s ease;
}
.jslogo:hover{
    transform: perspective(400px) translateZ(100px);
    filter: drop-shadow(0 0 24px #edfd71);
}
.logo1 {
    height: 6em;
    will-change: filter;
    transition: filter 300ms;
    animation: logo-spin infinite 20s linear;
}

.logo1:hover {
    filter: drop-shadow(0 0 24px #df71fd);
}

.logo1.react:hover {
    filter: drop-shadow(0 0 24px #61dafbaa);
}
/* created an react animation */
@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
}