/* breakpoints for mobile device approach */
/* mobile device view */
/* media-queries */
@media (max-width: 320px) {
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 1rem 9%;
        background: #9900ff;
    }
        @media (max-width: 1024px) {
          .sidebar-open {
              -webkit-filter: blur(2px);
              filter: blur(2px);
            pointer-events: none;
          }
      
          .sidebar-open .sidebar-inner {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            z-index: 9999;
            background-color: rgba(255, 255, 255, 0.9);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          }
      
          .sidebar-open .dark-mode-button {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 10000;
          }
      }
      body {
        /* Add the dark class to the body element to apply the dark mode styles */
        --dark-bg-color: #2b2b2b;
        --dark-text-color: #f5f5f5;
        --dark-nav-links-color: black;
        --dark-dark-mode-button-color: #1a1a1a;
        --dark-dark-mode-button-hover-color: #333;
      }

      .input-box label{
        position: absolute;
        top: 50%;
        left: 3%;
        transform: translateY(-50%);
        font-size: 1.4rem;
        color:#98a3b9 ;
        pointer-events: none;
        transition: all .3s ease-in-out;
    }
    .input-box input:focus~label,
    .input-box input:valid~label{
    top: -10px;
    color: white;
    }
      .dark {
        background-color: var(--dark-bg-color);
        color: var(--dark-text-color);
      }
      
      .dark .navbar a {
        color: var(--dark-nav-links-color);
      }
      
      .dark .dark-mode-button {
        background-color: var(--dark-dark-mode-button-color);
      }
      
      .dark .dark-mode-button:hover {
        background-color: var(--dark-dark-mode-button-hover-color);
      }
    body{
        background-color: black;
        color: white;
    }
    body.active{
        background-color: white;
        color: black;
    }
    .header>.logo.active{
        color: black;
    }
    .right-box-1 .boi{
        display: none;
    }
    .html-logo.whitebox:hover{
        background: none;
       }
       .css-logo.whitebox:hover{
        background: none;
       }
    .tail-logo.whitebox:hover{
        background: none;
        }
        .jslogo.whitebox:hover{
            background: none;
            }
            .ex-logo.whitebox:hover{
                background: none;
            }
            .node-logo.whitebox:hover{
                background: none;
              }
              .mongo-logo.whitebox:hover{
                background: none;
            }
    .sidebar a:hover {
        color: #f1f1f1;
      }
  
      .navbar {
        list-style-type: none;
        padding: 0;
      }
  
      .navbar a.active {
        color: #f1f1f1;
      }
  
      .theme-switcher {
        position: absolute;
        bottom: 20px;
        left: 20px;
        cursor: pointer;
        color: #818181;
        font-size: 18px;
        transition: 0.3s;
      }
  
      .theme-switcher:hover {
        color: #f1f1f1;
      }

    .icons{
        position: absolute;
        display: flex;
        column-gap: 6px;
        justify-content: flex-start;
        margin-top: 20px;
    }
    .connect-me{
        margin-top: 15px;
        font-size: medium;
    }
    .icons .likedin-img{
        width: 23%;
    }
  .icons .git-img{
    width: 23%;
    background-color: white;
    }
  .icons .insta-img{
    width: 23%;
    }
    .whitebox{
        display: flex;
        background-color: #df71fd26;
        padding: 5px;
        border-radius: 10px;
    }
    /* header-section */
    .navbar a{
        text-align: center;
        padding-block: 8px;
        margin-left: 0;
    }
    body
    {
        overflow: hidden;
    }
    nav{
        display: none;
    }
    .Back-end-skills{
        margin-block: 20px;
    }
    .header>.logo
    {
        width: 100%;
        text-align: left;
        font-size: 2.6rem;
    }
    .node-logo{      
        transition:0.5s  ease;
   }
    .node-logo:hover{
        transform: perspective(400px) translateZ(100px);
        filter: drop-shadow(0 0 14px #00ff11ba);
    }
    .mongo-logo{
        transition:0.5s  ease;
   }
    .mongo-logo:hover{
        transform: perspective(400px) translateZ(100px);
        filter: drop-shadow(0 0 14px #79fe51ee);
    }
    .mongo-logo{
        transition:0.5s  ease;
   }
   .ex-logo{
    transition:0.5s  ease;
   }
    .ex-logo:hover{
        transform: perspective(400px) translateZ(100px);
        filter: drop-shadow(0 0 14px #cddfcb);
    }
    .skills-column .title{
        font-size: 2.05rem;
        margin-block: 20px;
    }
    .skills-box>.front-end{
        display: grid;
        grid-template-columns: repeat(auto-fill,100px);
        column-gap: 50px;
        row-gap: 40px;
        align-items: center;
        justify-content: center;
    }
    .skills-box>.front-end>.mobile-size{
      width: 100%;
    }
    .skills-box>.front-end>.tailwind-size{
        width: 90%;
    }
    .html-logo{
        transition:0.5s  ease;
    }
    .html-logo:hover{
        transform: perspective(400px) translateZ(100px);
        filter: drop-shadow(0 0 14px #ff9100);
    }
    .css-logo{
        transition:0.5s  ease ;
    }
    .css-logo:hover{
        transform: perspective(400px) translateZ(100px);
        filter: drop-shadow(0 0 14px #0095ff);
    }
    .tail-logo{
        transition:0.5s  ease ;
    }
    .tail-logo:hover{
        transform: perspective(400px) translateZ(100px);
        filter: drop-shadow(0 0 14px #0095ff);
    }
    .jslogo{
        transition: 0.5s ease;
    }
    .jslogo:hover{
        transform: perspective(400px) translateZ(100px);
        filter: drop-shadow(0 0 24px #edfd71);
    }
    .logo1 {
        height: 6em;
        will-change: filter;
        transition: filter 300ms;
        animation: logo-spin infinite 20s linear;
    }
    .logo1:hover {
        transform: perspective(400px) translateZ(100px);
        filter: drop-shadow(0 0 24px #df71fd);
    }
    .logo1.react:hover {
        filter: drop-shadow(0 0 24px #61dafbaa); 
    }
    /* created an react animation */
    @keyframes logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    .icon {
        position: fixed;
        cursor: pointer;
        z-index: 1;
    }
    
    .toggle-button {
        width: 30px;
        height: 30px;
        background-color: #333;
        position: absolute;
        top: 20px;
        right: -30px;
        cursor: pointer;
    }
    
    .navbar {
        list-style-type: none;
        padding: 0;
    }
    
    .navbar a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        transition: 0.3s;
    }
    
    .navbar a:hover {
        background-color: #444;
    }
    
    .content {
        margin-left: 250px;
        padding: 20px;
    }

    .menu div{
        height: 15px;
        width: 40px;
        margin: 40px;
        position: relative;
    }
    .menu span{
        background: #fff;
        width: 100%;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        display: block;
        top: 50%;
        left: 10%;
        transform: translate(-80%,-25px);
        transition: 0.5s ease;
    }
    .menu .line-1{
        transform: translate(-80%,-40px);
    }
    .menu .line-3{
        transform: translate(-80%,-10px);
    }
    .openmenu .line-1{
        transform: translate(-80%,-25px) rotate(-45deg);
    }
    .openmenu .line-3{
        transform: translate(-80%,-25px) rotate(-45deg);
    }
    .openmenu .line-1{
        transform: translate(-80%,-25px) rotate(45deg);
    }
    .openmenu .line-2{
        width: 0;
    }
    /* Home section */
    .left-box-1{
        z-index: -1;
    }
    .left-box-1>p
    {
        font-size: 1.7rem;
        text-align: left;
    }
    /* footer */
    footer
    {
        display: flex;
        justify-content: center;
    }
    .contact>form{
        width: 100%;
        display: grid;
        gap: 1.5rem;
    }
    .footer-text>p
    {
        display: none;
    }
    .footer-icontop>.foot>.arrow
    {
        border-radius: 50%;
        padding:10px 15px;
    }
    /* contact form */
    .contact>form>.input-box>.input-field
    {
        position: relative;
        width: 100%;
        margin: .8rem 0;
    }
    .btn-box 
    {
        margin: 0px;
    }
    .btn-box .btn {
        width: 13rem;
    }
    .new-btn .btn{
        margin:0px auto;
    }
    .padding .btn{
        width: 30%;
        height: 85%;
        border-radius: 4px;
        font-size: medium;
    }
    
.about-content p {
    font-size: 1.5rem;
    margin: 2rem 0 2rem;
}
.mobilemode.apply{
   z-index: 2;
}
.mobilemode {
    display: none; /* Hide the component initially */
    padding: 20px;
    /* Add other styles for the component as needed */
}
/* sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: #333; */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
    z-index: 0;
}
.sidebar.glass{
 background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
 backdrop-filter: blur(20px);
 -webkit-backdrop-filter: blur(20px);
}
.glass.activate{
    height: 100vh;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar a {
    text-decoration: none;
    color: white;
    display: block;
}

.toggle-button {
    position: fixed;
    top: 20px;
    left: 260px;
    cursor: pointer;
    font-size: 30px;
    z-index: 1;
}
.toggle-button.border-white.active{
    border: 2.5px solid white;
    padding: 0px 6px;
    border-radius: 4px;
}

.content {
    transition: margin-left 0.5s;
    margin-left: 0;
    padding: 20px;
}
.nav-icon-5{
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.nav-icon-5 span{
  background-color:#fff;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  width:100%;
  height: 4px;
  transition-duration: 500ms
}
.nav-icon-5 span:nth-child(1){
  top:0px;
  left: 0px;
}
.nav-icon-5 span:nth-child(2){
  top:13px;
  left: 0px;
  opacity:1;
}
.nav-icon-5 span:nth-child(3){
  bottom:0px;
  left: 0px;
}
.nav-icon-5:not(.open):hover span:nth-child(1){
  transform: rotate(-3deg) scaleY(1.1);
}
.nav-icon-5:not(.open):hover span:nth-child(2){
  transform: rotate(3deg) scaleY(1.1);
}
.nav-icon-5:not(.open):hover span:nth-child(3){
  transform: rotate(-4deg) scaleY(1.1);
}
.nav-icon-5.open span:nth-child(1){
  transform: rotate(45deg);
  top: 13px;
}
.nav-icon-5.open span:nth-child(2){
  opacity:0;
}
.nav-icon-5.open span:nth-child(3){
  transform: rotate(-45deg);
  top: 13px;
}
}