@media (min-width: 426px) and (max-width:768px){
    nav
    {
        /* visibility: hidden; */
        display: none;
    }
    body
    {
        overflow: hidden;
    }
    .right-box-1
    {
        padding-top: 90px;
    }
    .navbar{
        margin-top: 40px;
    }
    .navbar a{
        text-align: center;
        line-height: 50px;
    }
    .header>.logo
    {
        width: 100%;
        text-align: center;
        font-size: 4.0rem;
    }
    .home
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    /* .typewrite{
        text-align: center;
    } */
    .left-box-1{
        display: flex;
        flex-direction: column;
        z-index: -1;
        align-items: center;
        padding-block: 20px;
    }
    .left-box-1 p{
        text-align: center;
    }
    .icons{
        position: relative;
        top: 25%;
    }
    .header{
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
      .btn-box 
    {
        margin: 0px auto;
    }
    .whitebox{
        display: flex;
        background-color: #df71fd26;
        padding: 10px;
        border-radius: 10px;
    }
    /* home section */
    
    /* forms */
    .contact{
        min-height: auto;
   padding-bottom: 5rem;
   display: flex;
   flex-direction: column;
        /* background: var(--secondary-bg-color); */
     }
.contact>form{
    max-width: 70rem;
    margin: 0;
    text-align: center;
}
.contact>form>.input-box
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 1px;
}
.contact>form>.input-box>.input-field
{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}
footer
{
    display: flex;
    justify-content: space-between;
}
.footer-icontop{
    margin-block: 10px;
}
.footer-icontop>.foot>.arrow
{
    border-radius: 4px;
    padding:10px 20px;
}
.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
    z-index: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar a {
    text-decoration: none;
    color: white;
    display: block;
}

.toggle-button {
    position: fixed;
    top: 30px;
    left: 30px;
    cursor: pointer;
    font-size: 30px;
    z-index: 1;
}
.toggle-button.border-white.active{
    border: 2.5px solid white;
    padding: 0px 6px;
    border-radius: 4px;
}
.content {
    transition: margin-left 0.5s;
    margin-left: 0;
    padding: 20px;
}
.mobilemode{
    display: flex;
    background-color: #df71fd26;
    padding: 10px;
    border-radius: 10px;
}
.skills-box>.front-end{
    display: grid;
    grid-template-columns: repeat(auto-fill,100px);
    column-gap: 70px;
    row-gap: 40px;
    align-items: center;
    justify-content: center;
}
.skills-box>.front-end>.mobile-size{
  width: 100%;
}
.skills-box>.front-end>.tailwind-size{
    width: 90%;
}
.html-logo{
    transition:0.5s  ease;
}
.html-logo:hover{
    transform: perspective(400px) translateZ(100px);
    filter: drop-shadow(0 0 14px #ff9100);
}
.css-logo{
    transition:0.5s  ease ;
}
.css-logo:hover{
    transform: perspective(400px) translateZ(100px);
    filter: drop-shadow(0 0 14px #0095ff);
}
.tail-logo{
    transition:0.5s  ease ;
}
.tail-logo:hover{
    transform: perspective(400px) translateZ(100px);
    filter: drop-shadow(0 0 14px #0095ff);
}
.jslogo{
    transition: 0.5s ease;
}
.jslogo:hover{
    transform: perspective(400px) translateZ(100px);
    filter: drop-shadow(0 0 24px #edfd71);
}
.logo1 {
    height: 6em;
    will-change: filter;
    transition: filter 300ms;
    animation: logo-spin infinite 20s linear;
}

.logo1:hover {
    filter: drop-shadow(0 0 24px #df71fd);
}

.logo1.react:hover {
    filter: drop-shadow(0 0 24px #61dafbaa);
}
.icon{
    z-index: 1;
    left: 0;
    position: absolute;
}
.skills-column .title{
    font-size: 2.05rem;
    margin-block: 30px;
}
.nav-icon-5{
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: absolute;
    left: 10px;
    cursor: pointer;
    display: inline-block;
  }
  .nav-icon-5 span{
    background-color:#fff;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width:100%;
    height: 4px;
    transition-duration: 500ms
  }
  .nav-icon-5 span:nth-child(1){
    top:0px;
    left: 0px;
  }
  .nav-icon-5 span:nth-child(2){
    top:13px;
    left: 0px;
    opacity:1;
  }
  .nav-icon-5 span:nth-child(3){
    bottom:0px;
    left: 0px;
  }
  .nav-icon-5:not(.open):hover span:nth-child(1){
    transform: rotate(-3deg) scaleY(1.1);
  }
  .nav-icon-5:not(.open):hover span:nth-child(2){
    transform: rotate(3deg) scaleY(1.1);
  }
  .nav-icon-5:not(.open):hover span:nth-child(3){
    transform: rotate(-4deg) scaleY(1.1);
  }
  .nav-icon-5.open span:nth-child(1){
    transform: rotate(45deg);
    top: 13px;
  }
  .nav-icon-5.open span:nth-child(2){
    opacity:0;
  }
  .nav-icon-5.open span:nth-child(3){
    transform: rotate(-45deg);
    top: 13px;
  }
/* created an react animation */
@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
} 