@media (min-width: 426px) and (max-width:768px){
    nav
    {
        /* visibility: hidden; */
        display: none;
    }
    body
    {
        overflow: hidden;
    }
    .right-box-1>.boi
    {
        /* display: none; */
    }
    .header>.logo
    {
        width: 100%;
        text-align: center;
        font-size: 4.5rem;
    }
    .home
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    /* .typewrite{
        text-align: center;
    } */
    .left-box-1{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    .icons{
        position: relative;
        top: 25%;
    }
    .header{
        height: 100px;
    }
      .btn-box 
    {
        margin: 0px auto;
    }
    /* home section */
    
    /* forms */
    .contact{
        min-height: auto;
   padding-bottom: 5rem;
   display: flex;
   flex-direction: column;
        /* background: var(--secondary-bg-color); */
     }
.contact>form{
    max-width: 70rem;
    margin: 0;
    text-align: center;
}
.contact>form>.input-box
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 1px;
}
.contact>form>.input-box>.input-field
{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}
footer
{
    display: flex;
    justify-content: space-between;
}
.footer-icontop{
    margin-block: 10px;
}
.footer-icontop>.foot>.arrow
{
    border-radius: 4px;
    padding:10px 20px;
}
} 