body {
    margin: 0;
    padding: 0;
}

/* .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
} */

body.sidebar-open {
    overflow: hidden; /* Prevent scrolling of the body when sidebar is open */
  }

.sidebar {
    position: fixed; /* Keep sidebar fixed */
    left: -320px; /* Hide sidebar off-screen */
    transition: left 0.3s ease; /* Smooth transition */
  }

.sidebar.open {
    left: 0; /* Show sidebar */
  }

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar a {
    text-decoration: none;
    color: white;
    display: block;
}

.toggle-button {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    font-size: 30px;
}

.content {
    transition: margin-left 0.3s ease; /* Smooth transition for content */
  }
  
  .sidebar-open .content {
    margin-left: 320px; /* Push content to the right when sidebar is open */
  }

@media screen and (max-width: 768px) {
    .sidebar {
        width: 250px;
    }

    .content {
        margin-left: 250px;
    }
}
